@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li {
    list-style-type: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}

button {
    background-color: #129b9b;
    cursor: pointer;
    color: white;
    padding: 4px 10px;
    border: 1px solid white;
    font-weight: 700;
    width: fit-content;
}

button:hover {
    background-color: white;
    color: rgb(18,155,155);
    border: 1px solid black;
    cursor: pointer;
}

header {
    padding: 15px 0;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

nav.logo {
    font-weight: 700;
    font-size: 25px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;
}

.search-feild {
    display: flex;
    gap: 30px;
}

input {
    padding: 4px 10px;
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-left-section {
    width: 60%;
    padding: 0 8%;
}

.hero-left-section h1 {
    /* color: rgb(18,155,155); */
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 20px;
}

.hero-left-section h1 span {
    color: rgb(18,155,155);
    font-weight: 900;
    background-color: #dfdfe0;
    padding: 0 15px;
}

.hero-left-section p {
    font-weight: 500;
}

.hero-left-section p span {
    font-size: 25px;
    font-weight: 700;
    color: rgb(18, 155, 155);
}

.hero-left-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-right-section-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-right-section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

footer {
    font-weight: 600;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer ul li i:hover {
    text-decoration: underline;
}




